:root {
    --var-background: black;
    --var-text: white;
}

body {
    background: var(--var-background);
    color: var(--var-text);
    font-family: Arial;
    font-size: 1.2rem;
    line-height: 1.5;
}

.info {
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    
}

.header-logo {
    height: 150px;
}

.cipher-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.cipher-container-item {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-text);
}

 .cipher-image  {
    height: 150px;
    width: 150px;
 }     